<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Expenses</title>

   
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

   
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

   
    <link href="../css/style.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Anton|Lato|Open+Sans+Condensed:300" rel="stylesheet">
    <script src="../js/ratchet.js"></script>
    
  </head>
  <body>
    <div style="height:100px;width:100%;border:1px solid;">
    </div>
    <!-- Make sure all your bars are the first things in your <body> -->
   <header class="bar bar-nav">
        <a onclick="window.history.back();"
           class="icon icon-left-nav pull-left"></a> 
      <h1 class="title">UMB</h1>
    </header>

    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
    
    <h3>HSA Contribution Limits</h3>
        <h4 style="text-indent:2em">Monthly</h4>
            <h6 style="text-indent:4em">test data</h6>
        <h4 style="text-indent:2em">Yearly</h4>
            <h6 style="text-indent:4em">test data</h6>
        <h4 style="text-indent:2em">Quarterly</h4>
            <h6 style="text-indent:4em">test data</h6>
        
    <h3>HSA Catch-up Contributions</h3>
       <h4 style="text-indent:2em">Monthly</h4>
            <h6 style="text-indent:4em">test data</h6>
        <h4 style="text-indent:2em">Yearly</h4>
            <h6 style="text-indent:4em">test data</h6>
        <h4 style="text-indent:2em">Quarterly</h4>
            <h6 style="text-indent:4em">test data</h6>
        
    <h3>HDHP Minimum Deductibles</h3>
        <h4 style="text-indent:2em">Monthly</h4>
            <h6 style="text-indent:4em">test data</h6>
        <h4 style="text-indent:2em">Yearly</h4>
            <h6 style="text-indent:4em">test data</h6>
        <h4 style="text-indent:2em">Quarterly</h4>
            <h6 style="text-indent:4em">test data</h6>
        
    <h3>HDHP Maximum</h3>
        <h4 style="text-indent:2em">Monthly</h4>
            <h6 style="text-indent:4em">test data</h6>
        <h4 style="text-indent:2em">Yearly</h4>
            <h6 style="text-indent:4em">test data</h6>
        <h4 style="text-indent:2em">Quarterly</h4>
            <h6 style="text-indent:4em">test data</h6>
        
    <h3>Out-of-Pocket Expenses</h3>
        <h4 style="text-indent:2em">Monthly</h4>
            <h6 style="text-indent:4em">test data</h6>
        <h4 style="text-indent:2em">Yearly</h4>
            <h6 style="text-indent:4em">test data</h6>
        <h4 style="text-indent:2em">Quarterly</h4>
            <h6 style="text-indent:4em">test data</h6>
        
        
    <!--Place bottom nav bar on every page-->
     <nav class="bar bar-tab">
    <a class="tab-item" onclick="location.href = 'profile.html';">
        <span class="icon icon-person"></span>
        <span class="tab-label">PROFILE</span>
          </a>
    <a class="tab-item" onclick="location.href = 'messages.html';">
        <span class="icon icon-compose"></span>
        <span class="tab-label">MESSAGES</span>
    </a>
    <a class="tab-item" onclick="location.href = 'receiptScan.html';">
        <span class="icon icon-share"></span>
        <span class="tab-label">SCAN RECEIPT</span>
    </a>
 
    <a class="tab-item active" onclick="location.href = '../index.html';">
        <span class="icon icon-more"></span>
        <span class="tab-label">MORE</span>
    </a>
    </nav>
        
   </div>

  </body>
</html>