<!DOCTYPE html>
<html>
<head>
<title>Login</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

   
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

   
    <link href="../css/style.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Anton|Lato|Open+Sans+Condensed:300" rel="stylesheet">
    <script src="../js/ratchet.js"></script>
<script>
    document
.querySelector('#mySlider')
.addEventListener('slide', myFunction)</script>
<style>
    body{
        background-image: url("../img/blue.jpg");
       
    }
</style>
</head>
<body ng-app="HelloWorldApp" >
<!--
    <div ng-controller="HelloWorldController">
        <h1> Hello {{who}} </h1>
    </div>
-->

<!--
    <div ng-controller="Cntrl">
   
        <button ng-click="changeView(mail)" >
            Page 3
        </button>
    </div>
-->
    <div class="login">
        <h1 style="font-size:100pt">UMB</h1>
        <h3>Healthcare Savings Account</h3>
    </div>
    
        <form class="loginForm">
            <input type="text" placeholder="Username">
            <input type="text" placeholder="Password">
            <button class="btn btn-block loginBtn">SIGN IN</button>
            <p style="">or</p>
            <a>Contact</a>
        </form>

   
  </body>
</html>