<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
     <script src="../scripts/main.js"></script>
    <script src="../scripts/controller.js"></script>

    
</head>
<body ng-app="HelloWorldApp">
    <div ng-controller="HelloWorldController">
        <h1> Hello {{who}} </h1>
    </div>

    <div ng-controller="Cntrl">
   
        <button ng-click="changeView(mail)" >
            Page 3
        </button>
    </div>

   
  </body>
</html>