<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Price Comparison</title>

   
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

   
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

   
    <link href="../css/style.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Anton|Lato|Open+Sans+Condensed:300" rel="stylesheet">
    <script src="../js/ratchet.js"></script>
 
  </head>
  <body>
    <div style="height:100px;width:100%;border:1px solid;">
    </div>
    <!-- Make sure all your bars are the first things in your <body> -->
   <header class="bar bar-nav">
        <a onclick="window.history.back();"
           class="icon icon-left-nav pull-left"></a> 
      <h1 class="title">UMB</h1>
    </header>

    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
        
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
    <br>
    
        <a onclick="location.href = 'priceComparison2.html';" class="btn btn-outlined btn-primary searchBtn">Next</a>
   
 <script>
    

//     How to import data into maps url  https://developers.google.com/maps/documentation/javascript/importing_data
     
//     Directions
//https://developers.google.com/maps/documentation/javascript/directions
       function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 13,
          mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBa3dnTxxnXeqWVF3qqWOGgHA7emE-xrkQ&libraries=places&callback=initAutocomplete"
         async defer></script>
        
        
        
        
        
    <!--Place bottom nav bar on every page-->
     <nav class="bar bar-tab">
    <a class="tab-item" onclick="location.href = 'profile.html';">
        <span class="icon icon-person"></span>
        <span class="tab-label">PROFILE</span>
          </a>
    <a class="tab-item"onclick="location.href = 'messages.html';">
        <span class="icon icon-compose"></span>
        <span class="tab-label">MESSAGES</span>
    </a>
    <a class="tab-item" onclick="location.href = 'receiptScan.html';">
        <span class="icon icon-share"></span>
        <span class="tab-label">SCAN RECEIPT</span>
    </a>
 
    <a class="tab-item active" onclick="location.href = '../index.html';">
        <span class="icon icon-more"></span>
        <span class="tab-label">MORE</span>
    </a>
    </nav>
        
   </div>

  </body>
</html>
