<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>

   
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

   <link href="https://fonts.googleapis.com/css?family=Anton|Lato|Open+Sans+Condensed:300" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

   
    <script src="../js/ratchet.js"></script>
  </head>
  <body>
    <div style="height:100px;width:100%;border:1px solid;">
    </div>
    <!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
        <a onclick="window.history.back();"
           class="icon icon-left-nav pull-left"></a>
        <button onclick="location.href = 'page2.html';" class="btn btn-link btn-nav pull-right">
            Sign Out  
        </button>
        
      <h1 class="title">UMB</h1>
    </header>


    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
    <p>--profile--</p>
        
        
    <!--Place bottom nav bar on every page-->
     <nav class="bar bar-tab">
    <a class="tab-item active" href="#">
        <span class="icon icon-person"></span>
        <span class="tab-label">PROFILE</span>
          </a>
     <a class="tab-item" onclick="location.href = 'messages.html';">
        <span class="icon icon-compose"></span>
        <span class="tab-label">MESSAGES</span>
    </a>
    <a class="tab-item" onclick="location.href = 'receiptScan.html';">
        <span class="icon icon-share"></span>
        <span class="tab-label">SCAN RECEIPT</span>
    </a>
 
    <a class="tab-item" onclick="location.href = '../index.html';">
        <span class="icon icon-more"></span>
        <span class="tab-label">MORE</span>
    </a>
    </nav>
        
   </div>

  </body>
</html>