<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Receipt Vault</title>title>

   
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

   
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

   
    <link href="../css/style.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Anton|Lato|Open+Sans+Condensed:300" rel="stylesheet">
    <script src="../js/ratchet.js"></script>
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      
      <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
      <script src="../js/aJaxCalls.js"></script>
      <script src="../js/googleAPI.js"></script>
      <script src="../js/monthlyGoogleAPI.js"></script>
      <script src="../js/expense_balance.js"></script>
     

  </head>
  <body onLoad="expenses(); drawChart(); drawChart2();">
    <div style="height:100px;width:100%;border:1px solid;">
    </div>
    <!-- Make sure all your bars are the first things in your <body> -->
   <header class="bar bar-nav">
        <a onclick="window.history.back();"
           class="icon icon-left-nav pull-left"></a> 
      <h1 class="title">UMB</h1>
       <button onclick="location.href = 'login.html';" class="btn btn-link btn-nav pull-right">
            Sign Out  
        </button>
    </header>

    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
      
          <div id="chart_div" style="width:100%;"></div>
        <br>
        <p class="expenses"></span>
      
            <span class="pull-right balance">Balance: <span> $3,405.57</span></span></p>
    
        <div class="month">
            <p Class="month2"></p>
        </div>
        <br>
        <div class="card">
            <ul class="table-view">
                

            </ul>
        </div>
     <div id="chart_div2" ></div>
        <p class="none"></p>
        
     
    <!--Place bottom nav bar on every page-->
     <nav class="bar bar-tab">
    <a class="tab-item active" onclick="location.href = 'profile.html';">
        <span class="icon icon-person"></span>
        <span class="tab-label">PROFILE</span>
          </a>
    <a class="tab-item" onclick="location.href = 'messages.html';">
        <span class="icon icon-compose"></span>
        <span class="tab-label">MESSAGES</span>
    </a>
    <a class="tab-item" onclick="location.href = 'receiptScan.html';">
        <span class="icon icon-share"></span>
        <span class="tab-label">SCAN RECEIPT</span>
    </a>
 
    <a class="tab-item" onclick="location.href = '../index.html';">
        <span class="icon icon-more"></span>
        <span class="tab-label">MORE</span>
    </a>
    </nav>
        
   </div>

  </body>
</html>